<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
        <p class='error'> <%= error %> </p>
    <% end %>
<% end %>

<h1>Dojos#edit</h1>
<form action="/dojo/<%= @dojo.id %>" method="POST">
<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">

    <input type="text" name="dojo[branch]" value="<%= @dojo.branch %>" />

    <input type="text" name="dojo[street]" value="<%= @dojo.street %>" />

    <input type="text" name="dojo[city]" value="<%= @dojo.city %>" />

    <input type="text" name="dojo[state]" value="<%= @dojo.state %>" />

    <input type="submit" value="Edit Dojo">
    <input type="hidden" name="_method" value="patch">
</form>
